@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: dimgrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    color: white;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 50px;
    cursor: pointer;
}